body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-shadow: 1px 1px 1px #000000;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-right: 10px;
  margin: 0;
}
a.inicio {
  margin-right: 800px;
  text-shadow: 1px 1px 1px #000000;
}
a:hover {
  color: white;
}

header {
  display: flex;
  min-height: 70px;
  background-color: #3a3434;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav.avenida {
  background-color: black;
  color: #fff;
  padding: 10px;
  position: relative;
  top: 0px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-bottom: 50px;
  background-color: rgba(113, 105, 105, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: aliceblue;
  font-family: "Gill Sans";
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.producto {
  flex: 0 0 calc(27.5% - 100px);
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin: 0%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.precio {
  font-weight: bold;
}

button {
  background-color: #a1744a;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a1744a;
}

.carrito {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carrito h2 {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.total {
  text-align: right;
  margin-right: 150px;
}

.boton-compra {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  margin-left: 300px;
  width: 300px;
}

.boton-compra.animacion {
  transform: rotate(360deg);
}

.mensaje-compra {
  display: none;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: top 0.5s ease;
}

canvas {
  height: 200px;
  width: 400px;
  border: 3px solid #000000;
  margin-left: 600px;
}
