body {
  margin: 0;
  background-image: url(./FOTOS/carta-menu.png);
}

a {
  text-shadow: 1px 1px 1px #000000;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-right: 10px;
}
a.inicio {
  margin-right: 800px;
  text-shadow: 1px 1px 1px #000000;
}
a:hover {
  color: white;
}

header {
  display: flex;
  min-height: 70px;
  background-color: #3a3434;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav.avenida {
  background-color: black;
  color: #fff;
  padding: 10px;
  position: relative;
  top: 0px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
}

#miFormulario {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 470px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#miFormulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#miFormulario input[type="text"],
#miFormulario input[type="email"],
#miFormulario input[type="time"],
#miFormulario input[type="tel"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  width: 550px;
}

.boton {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton2 {
  margin-left: 600px;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: #101114;
  color: #ffffff;
  text-decoration: none;
  width: 340px;
  border-radius: 4px;
}

#miFormulario button[type="submit"]:hover {
  background-color: #1ade24;
}

#mensaje {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  background-color: #f50606;
  border: 1px solid #ec0303;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.animacion {
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.invalido {
  background-color: red;
}
